<div class="container">
  <h2>student Registration form</h2>
  <form>
   <div class="row">
     <div class="col-md-6">
       
          <div class="form-group">
             <label>Student name:</label>
             <input type="text" class="form-control" formControlName="studentname" name="studentname">
          </div>
          <div class="form-group">
            <label>Student Email:</label>
            <input type="email" class="form-control" formControlName="emailid" name="emailid">
         </div>
         <div class="form-group">
            <label>Student Mobile no:</label>
            <input type="tel" class="form-control" formControlName="mobile" name="mobile">
         </div>
         <div class="form-group">
            <label>City:</label>
            <input type="text" class="form-control" formControlName="city" name="city">
        </div>
      
     </div>
     <div class="col-md-6">
      <div class="form-group">
        <label>College Name::</label>
        <input type="text" class="form-control" formControlName="College" name="College">
     </div>
     <div class="form-group">
       <label>Passed out:</label>
       <input type="text" class="form-control" formControlName="passout" name="passout">
    </div>
    <div class="form-group">
       <label>Student Image:</label>
       <input type="file" class="form-control" formControlName="pic" name="pic">
    </div>
    <div class="form-group">
       <label>City:</label>
       <input type="text" class="form-control" formControlName="city" name="city">
   </div>
   <div class="form-group">
    <label>Student:</label>
    <input type="checkbox" class="form-control" value="Student" formControlName="isstudent" name="isstudent">
   </div>
    </div>
   </div>
  </form>
</div>